/*
 * Flipdish Open API v1.0
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.flipdish.apiclient.api;

import com.flipdish.apiclient.ApiCallback;
import com.flipdish.apiclient.ApiClient;
import com.flipdish.apiclient.ApiException;
import com.flipdish.apiclient.ApiResponse;
import com.flipdish.apiclient.Configuration;
import com.flipdish.apiclient.Pair;
import com.flipdish.apiclient.ProgressRequestBody;
import com.flipdish.apiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.flipdish.apiclient.model.RestApiErrorResult;
import com.flipdish.apiclient.model.RestApiForbiddenResult;
import com.flipdish.apiclient.model.RestApiResultCrossSellMenuItems;
import com.flipdish.apiclient.model.RestApiUnauthorizedResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CrossSellApi {
    private ApiClient apiClient;
    private Map<String, String> headers;

    public CrossSellApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CrossSellApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public void setHeadersOverrides(Map<String, String> headers) {
        this.headers = headers;
    }

    /**
     * Build call for getCrossSellMenuItems
     * @param menuId  (required)
     * @param menuItemId  (required)
     * @param limit  (required)
     * @param totalValue  (required)
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getCrossSellMenuItemsCall(Integer menuId, List<Integer> menuItemId, Integer limit, Double totalValue, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/crossSell/menuItems"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (menuId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("menuId", menuId));
        if (menuItemId != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "menuItemId", menuItemId));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (totalValue != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("totalValue", totalValue));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        if (headers != null) {
            localVarHeaderParams.putAll(headers);
        }
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getCrossSellMenuItemsValidateBeforeCall(Integer menuId, List<Integer> menuItemId, Integer limit, Double totalValue, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'menuId' is set
        if (menuId == null) {
            throw new ApiException("Missing the required parameter 'menuId' when calling getCrossSellMenuItems(Async)");
        }
        
        // verify the required parameter 'menuItemId' is set
        if (menuItemId == null) {
            throw new ApiException("Missing the required parameter 'menuItemId' when calling getCrossSellMenuItems(Async)");
        }
        
        // verify the required parameter 'limit' is set
        if (limit == null) {
            throw new ApiException("Missing the required parameter 'limit' when calling getCrossSellMenuItems(Async)");
        }
        
        // verify the required parameter 'totalValue' is set
        if (totalValue == null) {
            throw new ApiException("Missing the required parameter 'totalValue' when calling getCrossSellMenuItems(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getCrossSellMenuItems(Async)");
        }
        

        com.squareup.okhttp.Call call = getCrossSellMenuItemsCall(menuId, menuItemId, limit, totalValue, appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param menuId  (required)
     * @param menuItemId  (required)
     * @param limit  (required)
     * @param totalValue  (required)
     * @param appId  (required)
     * @return RestApiResultCrossSellMenuItems
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultCrossSellMenuItems getCrossSellMenuItems(Integer menuId, List<Integer> menuItemId, Integer limit, Double totalValue, String appId) throws ApiException {
        ApiResponse<RestApiResultCrossSellMenuItems> resp = getCrossSellMenuItemsWithHttpInfo(menuId, menuItemId, limit, totalValue, appId);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param menuId  (required)
     * @param menuItemId  (required)
     * @param limit  (required)
     * @param totalValue  (required)
     * @param appId  (required)
     * @return ApiResponse&lt;RestApiResultCrossSellMenuItems&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultCrossSellMenuItems> getCrossSellMenuItemsWithHttpInfo(Integer menuId, List<Integer> menuItemId, Integer limit, Double totalValue, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getCrossSellMenuItemsValidateBeforeCall(menuId, menuItemId, limit, totalValue, appId, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultCrossSellMenuItems>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param menuId  (required)
     * @param menuItemId  (required)
     * @param limit  (required)
     * @param totalValue  (required)
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getCrossSellMenuItemsAsync(Integer menuId, List<Integer> menuItemId, Integer limit, Double totalValue, String appId, final ApiCallback<RestApiResultCrossSellMenuItems> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getCrossSellMenuItemsValidateBeforeCall(menuId, menuItemId, limit, totalValue, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultCrossSellMenuItems>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
