/*
 * Flipdish Open API v1.0
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.flipdish.apiclient.api;

import com.flipdish.apiclient.ApiCallback;
import com.flipdish.apiclient.ApiClient;
import com.flipdish.apiclient.ApiException;
import com.flipdish.apiclient.ApiResponse;
import com.flipdish.apiclient.Configuration;
import com.flipdish.apiclient.Pair;
import com.flipdish.apiclient.ProgressRequestBody;
import com.flipdish.apiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.threeten.bp.OffsetDateTime;
import com.flipdish.apiclient.model.PayoutDetail;
import com.flipdish.apiclient.model.RestApiArrayResultPayoutSummary;
import com.flipdish.apiclient.model.RestApiErrorResult;
import com.flipdish.apiclient.model.RestApiForbiddenResult;
import com.flipdish.apiclient.model.RestApiPaginationResultPayout;
import com.flipdish.apiclient.model.RestApiPaginationResultPayoutChargeback;
import com.flipdish.apiclient.model.RestApiPaginationResultPayoutOrder;
import com.flipdish.apiclient.model.RestApiPaginationResultPayoutOtherCharge;
import com.flipdish.apiclient.model.RestApiPaginationResultPayoutRefund;
import com.flipdish.apiclient.model.RestApiUnauthorizedResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PayoutsApi {
    private ApiClient apiClient;

    public PayoutsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PayoutsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getPayout
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPayoutCall(String appId, Integer bankAccountId, Integer payoutId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/bankaccounts/{bankAccountId}/payouts/{payoutId}"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()))
            .replaceAll("\\{" + "bankAccountId" + "\\}", apiClient.escapeString(bankAccountId.toString()))
            .replaceAll("\\{" + "payoutId" + "\\}", apiClient.escapeString(payoutId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPayoutValidateBeforeCall(String appId, Integer bankAccountId, Integer payoutId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getPayout(Async)");
        }
        
        // verify the required parameter 'bankAccountId' is set
        if (bankAccountId == null) {
            throw new ApiException("Missing the required parameter 'bankAccountId' when calling getPayout(Async)");
        }
        
        // verify the required parameter 'payoutId' is set
        if (payoutId == null) {
            throw new ApiException("Missing the required parameter 'payoutId' when calling getPayout(Async)");
        }
        

        com.squareup.okhttp.Call call = getPayoutCall(appId, bankAccountId, payoutId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @return PayoutDetail
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PayoutDetail getPayout(String appId, Integer bankAccountId, Integer payoutId) throws ApiException {
        ApiResponse<PayoutDetail> resp = getPayoutWithHttpInfo(appId, bankAccountId, payoutId);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @return ApiResponse&lt;PayoutDetail&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PayoutDetail> getPayoutWithHttpInfo(String appId, Integer bankAccountId, Integer payoutId) throws ApiException {
        com.squareup.okhttp.Call call = getPayoutValidateBeforeCall(appId, bankAccountId, payoutId, null, null);
        Type localVarReturnType = new TypeToken<PayoutDetail>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPayoutAsync(String appId, Integer bankAccountId, Integer payoutId, final ApiCallback<PayoutDetail> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPayoutValidateBeforeCall(appId, bankAccountId, payoutId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PayoutDetail>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPayoutChargebacks
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPayoutChargebacksCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/bankaccounts/{bankAccountId}/payouts/{payoutId}/chargebacks"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()))
            .replaceAll("\\{" + "bankAccountId" + "\\}", apiClient.escapeString(bankAccountId.toString()))
            .replaceAll("\\{" + "payoutId" + "\\}", apiClient.escapeString(payoutId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (storeIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "storeIds", storeIds));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPayoutChargebacksValidateBeforeCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getPayoutChargebacks(Async)");
        }
        
        // verify the required parameter 'bankAccountId' is set
        if (bankAccountId == null) {
            throw new ApiException("Missing the required parameter 'bankAccountId' when calling getPayoutChargebacks(Async)");
        }
        
        // verify the required parameter 'payoutId' is set
        if (payoutId == null) {
            throw new ApiException("Missing the required parameter 'payoutId' when calling getPayoutChargebacks(Async)");
        }
        

        com.squareup.okhttp.Call call = getPayoutChargebacksCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return RestApiPaginationResultPayoutChargeback
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultPayoutChargeback getPayoutChargebacks(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        ApiResponse<RestApiPaginationResultPayoutChargeback> resp = getPayoutChargebacksWithHttpInfo(appId, bankAccountId, payoutId, page, limit, storeIds);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return ApiResponse&lt;RestApiPaginationResultPayoutChargeback&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultPayoutChargeback> getPayoutChargebacksWithHttpInfo(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        com.squareup.okhttp.Call call = getPayoutChargebacksValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutChargeback>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPayoutChargebacksAsync(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ApiCallback<RestApiPaginationResultPayoutChargeback> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPayoutChargebacksValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutChargeback>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPayoutOrders
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPayoutOrdersCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/bankaccounts/{bankAccountId}/payouts/{payoutId}/orders"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()))
            .replaceAll("\\{" + "bankAccountId" + "\\}", apiClient.escapeString(bankAccountId.toString()))
            .replaceAll("\\{" + "payoutId" + "\\}", apiClient.escapeString(payoutId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (storeIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "storeIds", storeIds));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPayoutOrdersValidateBeforeCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getPayoutOrders(Async)");
        }
        
        // verify the required parameter 'bankAccountId' is set
        if (bankAccountId == null) {
            throw new ApiException("Missing the required parameter 'bankAccountId' when calling getPayoutOrders(Async)");
        }
        
        // verify the required parameter 'payoutId' is set
        if (payoutId == null) {
            throw new ApiException("Missing the required parameter 'payoutId' when calling getPayoutOrders(Async)");
        }
        

        com.squareup.okhttp.Call call = getPayoutOrdersCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return RestApiPaginationResultPayoutOrder
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultPayoutOrder getPayoutOrders(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        ApiResponse<RestApiPaginationResultPayoutOrder> resp = getPayoutOrdersWithHttpInfo(appId, bankAccountId, payoutId, page, limit, storeIds);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return ApiResponse&lt;RestApiPaginationResultPayoutOrder&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultPayoutOrder> getPayoutOrdersWithHttpInfo(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        com.squareup.okhttp.Call call = getPayoutOrdersValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutOrder>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPayoutOrdersAsync(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ApiCallback<RestApiPaginationResultPayoutOrder> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPayoutOrdersValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutOrder>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPayoutOtherCharges
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPayoutOtherChargesCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/bankaccounts/{bankAccountId}/payouts/{payoutId}/othercharges"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()))
            .replaceAll("\\{" + "bankAccountId" + "\\}", apiClient.escapeString(bankAccountId.toString()))
            .replaceAll("\\{" + "payoutId" + "\\}", apiClient.escapeString(payoutId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (storeIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "storeIds", storeIds));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPayoutOtherChargesValidateBeforeCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getPayoutOtherCharges(Async)");
        }
        
        // verify the required parameter 'bankAccountId' is set
        if (bankAccountId == null) {
            throw new ApiException("Missing the required parameter 'bankAccountId' when calling getPayoutOtherCharges(Async)");
        }
        
        // verify the required parameter 'payoutId' is set
        if (payoutId == null) {
            throw new ApiException("Missing the required parameter 'payoutId' when calling getPayoutOtherCharges(Async)");
        }
        

        com.squareup.okhttp.Call call = getPayoutOtherChargesCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return RestApiPaginationResultPayoutOtherCharge
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultPayoutOtherCharge getPayoutOtherCharges(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        ApiResponse<RestApiPaginationResultPayoutOtherCharge> resp = getPayoutOtherChargesWithHttpInfo(appId, bankAccountId, payoutId, page, limit, storeIds);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return ApiResponse&lt;RestApiPaginationResultPayoutOtherCharge&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultPayoutOtherCharge> getPayoutOtherChargesWithHttpInfo(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        com.squareup.okhttp.Call call = getPayoutOtherChargesValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutOtherCharge>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPayoutOtherChargesAsync(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ApiCallback<RestApiPaginationResultPayoutOtherCharge> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPayoutOtherChargesValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutOtherCharge>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPayoutRefunds
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPayoutRefundsCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/bankaccounts/{bankAccountId}/payouts/{payoutId}/refunds"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()))
            .replaceAll("\\{" + "bankAccountId" + "\\}", apiClient.escapeString(bankAccountId.toString()))
            .replaceAll("\\{" + "payoutId" + "\\}", apiClient.escapeString(payoutId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (storeIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "storeIds", storeIds));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPayoutRefundsValidateBeforeCall(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getPayoutRefunds(Async)");
        }
        
        // verify the required parameter 'bankAccountId' is set
        if (bankAccountId == null) {
            throw new ApiException("Missing the required parameter 'bankAccountId' when calling getPayoutRefunds(Async)");
        }
        
        // verify the required parameter 'payoutId' is set
        if (payoutId == null) {
            throw new ApiException("Missing the required parameter 'payoutId' when calling getPayoutRefunds(Async)");
        }
        

        com.squareup.okhttp.Call call = getPayoutRefundsCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return RestApiPaginationResultPayoutRefund
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultPayoutRefund getPayoutRefunds(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        ApiResponse<RestApiPaginationResultPayoutRefund> resp = getPayoutRefundsWithHttpInfo(appId, bankAccountId, payoutId, page, limit, storeIds);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @return ApiResponse&lt;RestApiPaginationResultPayoutRefund&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultPayoutRefund> getPayoutRefundsWithHttpInfo(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds) throws ApiException {
        com.squareup.okhttp.Call call = getPayoutRefundsValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutRefund>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param appId  (required)
     * @param bankAccountId  (required)
     * @param payoutId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param storeIds  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPayoutRefundsAsync(String appId, Integer bankAccountId, Integer payoutId, Integer page, Integer limit, List<Integer> storeIds, final ApiCallback<RestApiPaginationResultPayoutRefund> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPayoutRefundsValidateBeforeCall(appId, bankAccountId, payoutId, page, limit, storeIds, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayoutRefund>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPayoutSummaries
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPayoutSummariesCall(String appId, OffsetDateTime startDate, OffsetDateTime endDate, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/payouts/summaries"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (startDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
        if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
        if (payoutRequestIdsBankAccountIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "payoutRequestIds.bankAccountIds", payoutRequestIdsBankAccountIds));
        if (payoutRequestIdsStates != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "payoutRequestIds.states", payoutRequestIdsStates));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPayoutSummariesValidateBeforeCall(String appId, OffsetDateTime startDate, OffsetDateTime endDate, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getPayoutSummaries(Async)");
        }
        

        com.squareup.okhttp.Call call = getPayoutSummariesCall(appId, startDate, endDate, payoutRequestIdsBankAccountIds, payoutRequestIdsStates, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @return RestApiArrayResultPayoutSummary
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiArrayResultPayoutSummary getPayoutSummaries(String appId, OffsetDateTime startDate, OffsetDateTime endDate, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates) throws ApiException {
        ApiResponse<RestApiArrayResultPayoutSummary> resp = getPayoutSummariesWithHttpInfo(appId, startDate, endDate, payoutRequestIdsBankAccountIds, payoutRequestIdsStates);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @return ApiResponse&lt;RestApiArrayResultPayoutSummary&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiArrayResultPayoutSummary> getPayoutSummariesWithHttpInfo(String appId, OffsetDateTime startDate, OffsetDateTime endDate, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates) throws ApiException {
        com.squareup.okhttp.Call call = getPayoutSummariesValidateBeforeCall(appId, startDate, endDate, payoutRequestIdsBankAccountIds, payoutRequestIdsStates, null, null);
        Type localVarReturnType = new TypeToken<RestApiArrayResultPayoutSummary>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPayoutSummariesAsync(String appId, OffsetDateTime startDate, OffsetDateTime endDate, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates, final ApiCallback<RestApiArrayResultPayoutSummary> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPayoutSummariesValidateBeforeCall(appId, startDate, endDate, payoutRequestIdsBankAccountIds, payoutRequestIdsStates, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiArrayResultPayoutSummary>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPayouts
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPayoutsCall(String appId, OffsetDateTime startDate, OffsetDateTime endDate, Integer page, Integer limit, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/payouts"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (startDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
        if (endDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));
        if (payoutRequestIdsBankAccountIds != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "payoutRequestIds.bankAccountIds", payoutRequestIdsBankAccountIds));
        if (payoutRequestIdsStates != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "payoutRequestIds.states", payoutRequestIdsStates));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPayoutsValidateBeforeCall(String appId, OffsetDateTime startDate, OffsetDateTime endDate, Integer page, Integer limit, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getPayouts(Async)");
        }
        

        com.squareup.okhttp.Call call = getPayoutsCall(appId, startDate, endDate, page, limit, payoutRequestIdsBankAccountIds, payoutRequestIdsStates, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @return RestApiPaginationResultPayout
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultPayout getPayouts(String appId, OffsetDateTime startDate, OffsetDateTime endDate, Integer page, Integer limit, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates) throws ApiException {
        ApiResponse<RestApiPaginationResultPayout> resp = getPayoutsWithHttpInfo(appId, startDate, endDate, page, limit, payoutRequestIdsBankAccountIds, payoutRequestIdsStates);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @return ApiResponse&lt;RestApiPaginationResultPayout&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultPayout> getPayoutsWithHttpInfo(String appId, OffsetDateTime startDate, OffsetDateTime endDate, Integer page, Integer limit, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates) throws ApiException {
        com.squareup.okhttp.Call call = getPayoutsValidateBeforeCall(appId, startDate, endDate, page, limit, payoutRequestIdsBankAccountIds, payoutRequestIdsStates, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayout>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param appId  (required)
     * @param startDate  (optional)
     * @param endDate  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @param payoutRequestIdsBankAccountIds List of bank account ids to search for (optional)
     * @param payoutRequestIdsStates List of {Flipdish.PublicModels.V1.Payouts.PayoutStatus} so search for (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPayoutsAsync(String appId, OffsetDateTime startDate, OffsetDateTime endDate, Integer page, Integer limit, List<Integer> payoutRequestIdsBankAccountIds, List<String> payoutRequestIdsStates, final ApiCallback<RestApiPaginationResultPayout> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPayoutsValidateBeforeCall(appId, startDate, endDate, page, limit, payoutRequestIdsBankAccountIds, payoutRequestIdsStates, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultPayout>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
