/*
 * Flipdish Open API v1.0
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.flipdish.apiclient.api;

import com.flipdish.apiclient.ApiCallback;
import com.flipdish.apiclient.ApiClient;
import com.flipdish.apiclient.ApiException;
import com.flipdish.apiclient.ApiResponse;
import com.flipdish.apiclient.Configuration;
import com.flipdish.apiclient.Pair;
import com.flipdish.apiclient.ProgressRequestBody;
import com.flipdish.apiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.flipdish.apiclient.model.BusinessHoursOverrideBase;
import com.flipdish.apiclient.model.BusinessHoursPeriodBase;
import com.flipdish.apiclient.model.Coordinates;
import org.threeten.bp.OffsetDateTime;
import com.flipdish.apiclient.model.PreOrderConfig;
import com.flipdish.apiclient.model.RestApiArrayResultBusinessHoursPeriod;
import com.flipdish.apiclient.model.RestApiArrayResultPreOrderTime;
import com.flipdish.apiclient.model.RestApiArrayResultProcessingFeeConfig;
import com.flipdish.apiclient.model.RestApiArrayResultRestApiDefaultResponse;
import com.flipdish.apiclient.model.RestApiArrayResultStoreStatistics;
import com.flipdish.apiclient.model.RestApiErrorResult;
import com.flipdish.apiclient.model.RestApiForbiddenResult;
import com.flipdish.apiclient.model.RestApiPaginationResultBusinessHoursOverride;
import com.flipdish.apiclient.model.RestApiPaginationResultStore;
import com.flipdish.apiclient.model.RestApiPaginationResultStoreHeader;
import com.flipdish.apiclient.model.RestApiPaginationResultStoreValidationConfig;
import com.flipdish.apiclient.model.RestApiResultAssignedBankAccount;
import com.flipdish.apiclient.model.RestApiResultBusinessHoursOverride;
import com.flipdish.apiclient.model.RestApiResultBusinessHoursPeriod;
import com.flipdish.apiclient.model.RestApiResultCoordinates;
import com.flipdish.apiclient.model.RestApiResultPreOrderConfig;
import com.flipdish.apiclient.model.RestApiResultProcessingFeeConfig;
import com.flipdish.apiclient.model.RestApiResultServiceCharge;
import com.flipdish.apiclient.model.RestApiResultStore;
import com.flipdish.apiclient.model.RestApiResultStoreAddress;
import com.flipdish.apiclient.model.RestApiResultStoreEndOfDayReport;
import com.flipdish.apiclient.model.RestApiUnauthorizedResult;
import com.flipdish.apiclient.model.ServiceCharge;
import com.flipdish.apiclient.model.StoreAddressBase;
import com.flipdish.apiclient.model.StoreAddressForm;
import com.flipdish.apiclient.model.StoreBase;
import com.flipdish.apiclient.model.StoreCloneSettings;
import com.flipdish.apiclient.model.StoreCreateBase;
import com.flipdish.apiclient.model.StoreFeeConfig;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StoresApi {
    private ApiClient apiClient;

    public StoresApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StoresApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for archiveStore
     * @param storeId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call archiveStoreCall(Integer storeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/archive"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call archiveStoreValidateBeforeCall(Integer storeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling archiveStore(Async)");
        }
        

        com.squareup.okhttp.Call call = archiveStoreCall(storeId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void archiveStore(Integer storeId) throws ApiException {
        archiveStoreWithHttpInfo(storeId);
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> archiveStoreWithHttpInfo(Integer storeId) throws ApiException {
        com.squareup.okhttp.Call call = archiveStoreValidateBeforeCall(storeId, null, null);
        return apiClient.execute(call);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call archiveStoreAsync(Integer storeId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = archiveStoreValidateBeforeCall(storeId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for assignMenu
     * @param storeId  (required)
     * @param menuId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call assignMenuCall(Integer storeId, Integer menuId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/menu/{menuId}"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()))
            .replaceAll("\\{" + "menuId" + "\\}", apiClient.escapeString(menuId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call assignMenuValidateBeforeCall(Integer storeId, Integer menuId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling assignMenu(Async)");
        }
        
        // verify the required parameter 'menuId' is set
        if (menuId == null) {
            throw new ApiException("Missing the required parameter 'menuId' when calling assignMenu(Async)");
        }
        

        com.squareup.okhttp.Call call = assignMenuCall(storeId, menuId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param menuId  (required)
     * @return RestApiArrayResultRestApiDefaultResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiArrayResultRestApiDefaultResponse assignMenu(Integer storeId, Integer menuId) throws ApiException {
        ApiResponse<RestApiArrayResultRestApiDefaultResponse> resp = assignMenuWithHttpInfo(storeId, menuId);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param menuId  (required)
     * @return ApiResponse&lt;RestApiArrayResultRestApiDefaultResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiArrayResultRestApiDefaultResponse> assignMenuWithHttpInfo(Integer storeId, Integer menuId) throws ApiException {
        com.squareup.okhttp.Call call = assignMenuValidateBeforeCall(storeId, menuId, null, null);
        Type localVarReturnType = new TypeToken<RestApiArrayResultRestApiDefaultResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param menuId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call assignMenuAsync(Integer storeId, Integer menuId, final ApiCallback<RestApiArrayResultRestApiDefaultResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = assignMenuValidateBeforeCall(storeId, menuId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiArrayResultRestApiDefaultResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for cloneStore
     * @param storeId  (required)
     * @param settings  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call cloneStoreCall(Integer storeId, StoreCloneSettings settings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = settings;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/clone"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call cloneStoreValidateBeforeCall(Integer storeId, StoreCloneSettings settings, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling cloneStore(Async)");
        }
        
        // verify the required parameter 'settings' is set
        if (settings == null) {
            throw new ApiException("Missing the required parameter 'settings' when calling cloneStore(Async)");
        }
        

        com.squareup.okhttp.Call call = cloneStoreCall(storeId, settings, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param settings  (required)
     * @return RestApiResultStore
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultStore cloneStore(Integer storeId, StoreCloneSettings settings) throws ApiException {
        ApiResponse<RestApiResultStore> resp = cloneStoreWithHttpInfo(storeId, settings);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param settings  (required)
     * @return ApiResponse&lt;RestApiResultStore&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultStore> cloneStoreWithHttpInfo(Integer storeId, StoreCloneSettings settings) throws ApiException {
        com.squareup.okhttp.Call call = cloneStoreValidateBeforeCall(storeId, settings, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultStore>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param settings  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call cloneStoreAsync(Integer storeId, StoreCloneSettings settings, final ApiCallback<RestApiResultStore> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = cloneStoreValidateBeforeCall(storeId, settings, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultStore>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for configureStoreServiceCharge
     * @param storeId  (required)
     * @param serviceCharge  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call configureStoreServiceChargeCall(Integer storeId, ServiceCharge serviceCharge, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = serviceCharge;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/servicecharge"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call configureStoreServiceChargeValidateBeforeCall(Integer storeId, ServiceCharge serviceCharge, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling configureStoreServiceCharge(Async)");
        }
        
        // verify the required parameter 'serviceCharge' is set
        if (serviceCharge == null) {
            throw new ApiException("Missing the required parameter 'serviceCharge' when calling configureStoreServiceCharge(Async)");
        }
        

        com.squareup.okhttp.Call call = configureStoreServiceChargeCall(storeId, serviceCharge, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param serviceCharge  (required)
     * @return RestApiResultServiceCharge
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultServiceCharge configureStoreServiceCharge(Integer storeId, ServiceCharge serviceCharge) throws ApiException {
        ApiResponse<RestApiResultServiceCharge> resp = configureStoreServiceChargeWithHttpInfo(storeId, serviceCharge);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param serviceCharge  (required)
     * @return ApiResponse&lt;RestApiResultServiceCharge&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultServiceCharge> configureStoreServiceChargeWithHttpInfo(Integer storeId, ServiceCharge serviceCharge) throws ApiException {
        com.squareup.okhttp.Call call = configureStoreServiceChargeValidateBeforeCall(storeId, serviceCharge, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultServiceCharge>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param serviceCharge  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call configureStoreServiceChargeAsync(Integer storeId, ServiceCharge serviceCharge, final ApiCallback<RestApiResultServiceCharge> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = configureStoreServiceChargeValidateBeforeCall(storeId, serviceCharge, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultServiceCharge>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createBusinessHoursOverrideByStoreId
     * @param storeId  (required)
     * @param businessHoursOverride  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createBusinessHoursOverrideByStoreIdCall(Integer storeId, BusinessHoursOverrideBase businessHoursOverride, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = businessHoursOverride;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/businesshoursoverrides"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createBusinessHoursOverrideByStoreIdValidateBeforeCall(Integer storeId, BusinessHoursOverrideBase businessHoursOverride, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling createBusinessHoursOverrideByStoreId(Async)");
        }
        
        // verify the required parameter 'businessHoursOverride' is set
        if (businessHoursOverride == null) {
            throw new ApiException("Missing the required parameter 'businessHoursOverride' when calling createBusinessHoursOverrideByStoreId(Async)");
        }
        

        com.squareup.okhttp.Call call = createBusinessHoursOverrideByStoreIdCall(storeId, businessHoursOverride, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param businessHoursOverride  (required)
     * @return RestApiResultBusinessHoursOverride
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultBusinessHoursOverride createBusinessHoursOverrideByStoreId(Integer storeId, BusinessHoursOverrideBase businessHoursOverride) throws ApiException {
        ApiResponse<RestApiResultBusinessHoursOverride> resp = createBusinessHoursOverrideByStoreIdWithHttpInfo(storeId, businessHoursOverride);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param businessHoursOverride  (required)
     * @return ApiResponse&lt;RestApiResultBusinessHoursOverride&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultBusinessHoursOverride> createBusinessHoursOverrideByStoreIdWithHttpInfo(Integer storeId, BusinessHoursOverrideBase businessHoursOverride) throws ApiException {
        com.squareup.okhttp.Call call = createBusinessHoursOverrideByStoreIdValidateBeforeCall(storeId, businessHoursOverride, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultBusinessHoursOverride>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param businessHoursOverride  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createBusinessHoursOverrideByStoreIdAsync(Integer storeId, BusinessHoursOverrideBase businessHoursOverride, final ApiCallback<RestApiResultBusinessHoursOverride> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createBusinessHoursOverrideByStoreIdValidateBeforeCall(storeId, businessHoursOverride, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultBusinessHoursOverride>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createStore
     * @param storeGroupId  (required)
     * @param store  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createStoreCall(Integer storeGroupId, StoreCreateBase store, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = store;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (storeGroupId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("storeGroupId", storeGroupId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createStoreValidateBeforeCall(Integer storeGroupId, StoreCreateBase store, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeGroupId' is set
        if (storeGroupId == null) {
            throw new ApiException("Missing the required parameter 'storeGroupId' when calling createStore(Async)");
        }
        
        // verify the required parameter 'store' is set
        if (store == null) {
            throw new ApiException("Missing the required parameter 'store' when calling createStore(Async)");
        }
        

        com.squareup.okhttp.Call call = createStoreCall(storeGroupId, store, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeGroupId  (required)
     * @param store  (required)
     * @return RestApiResultStore
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultStore createStore(Integer storeGroupId, StoreCreateBase store) throws ApiException {
        ApiResponse<RestApiResultStore> resp = createStoreWithHttpInfo(storeGroupId, store);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeGroupId  (required)
     * @param store  (required)
     * @return ApiResponse&lt;RestApiResultStore&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultStore> createStoreWithHttpInfo(Integer storeGroupId, StoreCreateBase store) throws ApiException {
        com.squareup.okhttp.Call call = createStoreValidateBeforeCall(storeGroupId, store, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultStore>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeGroupId  (required)
     * @param store  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createStoreAsync(Integer storeGroupId, StoreCreateBase store, final ApiCallback<RestApiResultStore> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createStoreValidateBeforeCall(storeGroupId, store, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultStore>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for deleteBusinessHoursOverride
     * @param storeId  (required)
     * @param businessHoursOverrideId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteBusinessHoursOverrideCall(Integer storeId, Integer businessHoursOverrideId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/businesshoursoverrides/{businessHoursOverrideId}"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()))
            .replaceAll("\\{" + "businessHoursOverrideId" + "\\}", apiClient.escapeString(businessHoursOverrideId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteBusinessHoursOverrideValidateBeforeCall(Integer storeId, Integer businessHoursOverrideId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling deleteBusinessHoursOverride(Async)");
        }
        
        // verify the required parameter 'businessHoursOverrideId' is set
        if (businessHoursOverrideId == null) {
            throw new ApiException("Missing the required parameter 'businessHoursOverrideId' when calling deleteBusinessHoursOverride(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteBusinessHoursOverrideCall(storeId, businessHoursOverrideId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param businessHoursOverrideId  (required)
     * @return RestApiArrayResultRestApiDefaultResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiArrayResultRestApiDefaultResponse deleteBusinessHoursOverride(Integer storeId, Integer businessHoursOverrideId) throws ApiException {
        ApiResponse<RestApiArrayResultRestApiDefaultResponse> resp = deleteBusinessHoursOverrideWithHttpInfo(storeId, businessHoursOverrideId);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param businessHoursOverrideId  (required)
     * @return ApiResponse&lt;RestApiArrayResultRestApiDefaultResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiArrayResultRestApiDefaultResponse> deleteBusinessHoursOverrideWithHttpInfo(Integer storeId, Integer businessHoursOverrideId) throws ApiException {
        com.squareup.okhttp.Call call = deleteBusinessHoursOverrideValidateBeforeCall(storeId, businessHoursOverrideId, null, null);
        Type localVarReturnType = new TypeToken<RestApiArrayResultRestApiDefaultResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param businessHoursOverrideId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteBusinessHoursOverrideAsync(Integer storeId, Integer businessHoursOverrideId, final ApiCallback<RestApiArrayResultRestApiDefaultResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteBusinessHoursOverrideValidateBeforeCall(storeId, businessHoursOverrideId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiArrayResultRestApiDefaultResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBankAccountForStore
     * @param storeId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getBankAccountForStoreCall(Integer storeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/bankaccount"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getBankAccountForStoreValidateBeforeCall(Integer storeId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling getBankAccountForStore(Async)");
        }
        

        com.squareup.okhttp.Call call = getBankAccountForStoreCall(storeId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @return RestApiResultAssignedBankAccount
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultAssignedBankAccount getBankAccountForStore(Integer storeId) throws ApiException {
        ApiResponse<RestApiResultAssignedBankAccount> resp = getBankAccountForStoreWithHttpInfo(storeId);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @return ApiResponse&lt;RestApiResultAssignedBankAccount&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultAssignedBankAccount> getBankAccountForStoreWithHttpInfo(Integer storeId) throws ApiException {
        com.squareup.okhttp.Call call = getBankAccountForStoreValidateBeforeCall(storeId, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultAssignedBankAccount>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getBankAccountForStoreAsync(Integer storeId, final ApiCallback<RestApiResultAssignedBankAccount> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getBankAccountForStoreValidateBeforeCall(storeId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultAssignedBankAccount>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBusinessHours
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getBusinessHoursCall(Integer storeId, String deliveryType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/availability/{deliveryType}"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()))
            .replaceAll("\\{" + "deliveryType" + "\\}", apiClient.escapeString(deliveryType.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getBusinessHoursValidateBeforeCall(Integer storeId, String deliveryType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling getBusinessHours(Async)");
        }
        
        // verify the required parameter 'deliveryType' is set
        if (deliveryType == null) {
            throw new ApiException("Missing the required parameter 'deliveryType' when calling getBusinessHours(Async)");
        }
        

        com.squareup.okhttp.Call call = getBusinessHoursCall(storeId, deliveryType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @return RestApiArrayResultBusinessHoursPeriod
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiArrayResultBusinessHoursPeriod getBusinessHours(Integer storeId, String deliveryType) throws ApiException {
        ApiResponse<RestApiArrayResultBusinessHoursPeriod> resp = getBusinessHoursWithHttpInfo(storeId, deliveryType);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @return ApiResponse&lt;RestApiArrayResultBusinessHoursPeriod&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiArrayResultBusinessHoursPeriod> getBusinessHoursWithHttpInfo(Integer storeId, String deliveryType) throws ApiException {
        com.squareup.okhttp.Call call = getBusinessHoursValidateBeforeCall(storeId, deliveryType, null, null);
        Type localVarReturnType = new TypeToken<RestApiArrayResultBusinessHoursPeriod>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getBusinessHoursAsync(Integer storeId, String deliveryType, final ApiCallback<RestApiArrayResultBusinessHoursPeriod> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getBusinessHoursValidateBeforeCall(storeId, deliveryType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiArrayResultBusinessHoursPeriod>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getBusinessHoursOverrideByStoreId
     * @param storeId  (required)
     * @param after  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getBusinessHoursOverrideByStoreIdCall(Integer storeId, OffsetDateTime after, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/businesshoursoverrides"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (after != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("after", after));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getBusinessHoursOverrideByStoreIdValidateBeforeCall(Integer storeId, OffsetDateTime after, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling getBusinessHoursOverrideByStoreId(Async)");
        }
        

        com.squareup.okhttp.Call call = getBusinessHoursOverrideByStoreIdCall(storeId, after, page, limit, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param after  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @return RestApiPaginationResultBusinessHoursOverride
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultBusinessHoursOverride getBusinessHoursOverrideByStoreId(Integer storeId, OffsetDateTime after, Integer page, Integer limit) throws ApiException {
        ApiResponse<RestApiPaginationResultBusinessHoursOverride> resp = getBusinessHoursOverrideByStoreIdWithHttpInfo(storeId, after, page, limit);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param after  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @return ApiResponse&lt;RestApiPaginationResultBusinessHoursOverride&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultBusinessHoursOverride> getBusinessHoursOverrideByStoreIdWithHttpInfo(Integer storeId, OffsetDateTime after, Integer page, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = getBusinessHoursOverrideByStoreIdValidateBeforeCall(storeId, after, page, limit, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultBusinessHoursOverride>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param after  (optional)
     * @param page  (optional)
     * @param limit  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getBusinessHoursOverrideByStoreIdAsync(Integer storeId, OffsetDateTime after, Integer page, Integer limit, final ApiCallback<RestApiPaginationResultBusinessHoursOverride> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getBusinessHoursOverrideByStoreIdValidateBeforeCall(storeId, after, page, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultBusinessHoursOverride>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getEndOfDayReport
     * @param storeId  (required)
     * @param date  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getEndOfDayReportCall(Integer storeId, OffsetDateTime date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/endofdayreport"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (date != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("date", date));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getEndOfDayReportValidateBeforeCall(Integer storeId, OffsetDateTime date, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling getEndOfDayReport(Async)");
        }
        

        com.squareup.okhttp.Call call = getEndOfDayReportCall(storeId, date, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param date  (optional)
     * @return RestApiResultStoreEndOfDayReport
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultStoreEndOfDayReport getEndOfDayReport(Integer storeId, OffsetDateTime date) throws ApiException {
        ApiResponse<RestApiResultStoreEndOfDayReport> resp = getEndOfDayReportWithHttpInfo(storeId, date);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param date  (optional)
     * @return ApiResponse&lt;RestApiResultStoreEndOfDayReport&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultStoreEndOfDayReport> getEndOfDayReportWithHttpInfo(Integer storeId, OffsetDateTime date) throws ApiException {
        com.squareup.okhttp.Call call = getEndOfDayReportValidateBeforeCall(storeId, date, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultStoreEndOfDayReport>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param date  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getEndOfDayReportAsync(Integer storeId, OffsetDateTime date, final ApiCallback<RestApiResultStoreEndOfDayReport> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getEndOfDayReportValidateBeforeCall(storeId, date, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultStoreEndOfDayReport>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPreOrderConfig
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPreOrderConfigCall(Integer storeId, String deliveryType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/preorderconfig/{deliveryType}"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()))
            .replaceAll("\\{" + "deliveryType" + "\\}", apiClient.escapeString(deliveryType.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPreOrderConfigValidateBeforeCall(Integer storeId, String deliveryType, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling getPreOrderConfig(Async)");
        }
        
        // verify the required parameter 'deliveryType' is set
        if (deliveryType == null) {
            throw new ApiException("Missing the required parameter 'deliveryType' when calling getPreOrderConfig(Async)");
        }
        

        com.squareup.okhttp.Call call = getPreOrderConfigCall(storeId, deliveryType, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @return RestApiResultPreOrderConfig
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultPreOrderConfig getPreOrderConfig(Integer storeId, String deliveryType) throws ApiException {
        ApiResponse<RestApiResultPreOrderConfig> resp = getPreOrderConfigWithHttpInfo(storeId, deliveryType);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @return ApiResponse&lt;RestApiResultPreOrderConfig&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultPreOrderConfig> getPreOrderConfigWithHttpInfo(Integer storeId, String deliveryType) throws ApiException {
        com.squareup.okhttp.Call call = getPreOrderConfigValidateBeforeCall(storeId, deliveryType, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultPreOrderConfig>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPreOrderConfigAsync(Integer storeId, String deliveryType, final ApiCallback<RestApiResultPreOrderConfig> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPreOrderConfigValidateBeforeCall(storeId, deliveryType, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultPreOrderConfig>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPreOrderPreview
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param preOrderConfigLeadTimeMinutes Lead Time in Minutes (optional)
     * @param preOrderConfigIntervalMinutes Interval in minutes (optional)
     * @param preOrderConfigMaxOrderAheadDays Max Days to order ahead (optional)
     * @param preOrderConfigIncludeAsap Show ASAP as option (optional)
     * @param preOrderConfigIncludeMoreGranularInitialTime Granual Init&#39; Time (optional)
     * @param preOrderConfigCutOffTimePreviousDayBasic Cut off time previous day (optional)
     * @param preOrderConfigCutOffTimeCurrentDayBasic Cut off time current day (optional)
     * @param preOrderConfigPreOrderTimeDisplayType Type of time displayed. (optional)
     * @param preOrderConfigAlwaysAppearOpen Specifies whether a customer can pre-order outside the store opening hours or not. (optional)
     * @param preOrderConfigRequireExplicitSelectAlways Force customer to select collection time. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPreOrderPreviewCall(Integer storeId, String deliveryType, Integer preOrderConfigLeadTimeMinutes, Integer preOrderConfigIntervalMinutes, Integer preOrderConfigMaxOrderAheadDays, Boolean preOrderConfigIncludeAsap, Boolean preOrderConfigIncludeMoreGranularInitialTime, String preOrderConfigCutOffTimePreviousDayBasic, String preOrderConfigCutOffTimeCurrentDayBasic, String preOrderConfigPreOrderTimeDisplayType, Boolean preOrderConfigAlwaysAppearOpen, Boolean preOrderConfigRequireExplicitSelectAlways, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/preorderconfig/{deliveryType}/preview"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()))
            .replaceAll("\\{" + "deliveryType" + "\\}", apiClient.escapeString(deliveryType.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (preOrderConfigLeadTimeMinutes != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.leadTimeMinutes", preOrderConfigLeadTimeMinutes));
        if (preOrderConfigIntervalMinutes != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.intervalMinutes", preOrderConfigIntervalMinutes));
        if (preOrderConfigMaxOrderAheadDays != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.maxOrderAheadDays", preOrderConfigMaxOrderAheadDays));
        if (preOrderConfigIncludeAsap != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.includeAsap", preOrderConfigIncludeAsap));
        if (preOrderConfigIncludeMoreGranularInitialTime != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.includeMoreGranularInitialTime", preOrderConfigIncludeMoreGranularInitialTime));
        if (preOrderConfigCutOffTimePreviousDayBasic != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.cutOffTimePreviousDayBasic", preOrderConfigCutOffTimePreviousDayBasic));
        if (preOrderConfigCutOffTimeCurrentDayBasic != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.cutOffTimeCurrentDayBasic", preOrderConfigCutOffTimeCurrentDayBasic));
        if (preOrderConfigPreOrderTimeDisplayType != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.preOrderTimeDisplayType", preOrderConfigPreOrderTimeDisplayType));
        if (preOrderConfigAlwaysAppearOpen != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.alwaysAppearOpen", preOrderConfigAlwaysAppearOpen));
        if (preOrderConfigRequireExplicitSelectAlways != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("preOrderConfig.requireExplicitSelectAlways", preOrderConfigRequireExplicitSelectAlways));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPreOrderPreviewValidateBeforeCall(Integer storeId, String deliveryType, Integer preOrderConfigLeadTimeMinutes, Integer preOrderConfigIntervalMinutes, Integer preOrderConfigMaxOrderAheadDays, Boolean preOrderConfigIncludeAsap, Boolean preOrderConfigIncludeMoreGranularInitialTime, String preOrderConfigCutOffTimePreviousDayBasic, String preOrderConfigCutOffTimeCurrentDayBasic, String preOrderConfigPreOrderTimeDisplayType, Boolean preOrderConfigAlwaysAppearOpen, Boolean preOrderConfigRequireExplicitSelectAlways, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'storeId' is set
        if (storeId == null) {
            throw new ApiException("Missing the required parameter 'storeId' when calling getPreOrderPreview(Async)");
        }
        
        // verify the required parameter 'deliveryType' is set
        if (deliveryType == null) {
            throw new ApiException("Missing the required parameter 'deliveryType' when calling getPreOrderPreview(Async)");
        }
        

        com.squareup.okhttp.Call call = getPreOrderPreviewCall(storeId, deliveryType, preOrderConfigLeadTimeMinutes, preOrderConfigIntervalMinutes, preOrderConfigMaxOrderAheadDays, preOrderConfigIncludeAsap, preOrderConfigIncludeMoreGranularInitialTime, preOrderConfigCutOffTimePreviousDayBasic, preOrderConfigCutOffTimeCurrentDayBasic, preOrderConfigPreOrderTimeDisplayType, preOrderConfigAlwaysAppearOpen, preOrderConfigRequireExplicitSelectAlways, progressListener, progressRequestListener);
        return call;

    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param preOrderConfigLeadTimeMinutes Lead Time in Minutes (optional)
     * @param preOrderConfigIntervalMinutes Interval in minutes (optional)
     * @param preOrderConfigMaxOrderAheadDays Max Days to order ahead (optional)
     * @param preOrderConfigIncludeAsap Show ASAP as option (optional)
     * @param preOrderConfigIncludeMoreGranularInitialTime Granual Init&#39; Time (optional)
     * @param preOrderConfigCutOffTimePreviousDayBasic Cut off time previous day (optional)
     * @param preOrderConfigCutOffTimeCurrentDayBasic Cut off time current day (optional)
     * @param preOrderConfigPreOrderTimeDisplayType Type of time displayed. (optional)
     * @param preOrderConfigAlwaysAppearOpen Specifies whether a customer can pre-order outside the store opening hours or not. (optional)
     * @param preOrderConfigRequireExplicitSelectAlways Force customer to select collection time. (optional)
     * @return RestApiArrayResultPreOrderTime
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiArrayResultPreOrderTime getPreOrderPreview(Integer storeId, String deliveryType, Integer preOrderConfigLeadTimeMinutes, Integer preOrderConfigIntervalMinutes, Integer preOrderConfigMaxOrderAheadDays, Boolean preOrderConfigIncludeAsap, Boolean preOrderConfigIncludeMoreGranularInitialTime, String preOrderConfigCutOffTimePreviousDayBasic, String preOrderConfigCutOffTimeCurrentDayBasic, String preOrderConfigPreOrderTimeDisplayType, Boolean preOrderConfigAlwaysAppearOpen, Boolean preOrderConfigRequireExplicitSelectAlways) throws ApiException {
        ApiResponse<RestApiArrayResultPreOrderTime> resp = getPreOrderPreviewWithHttpInfo(storeId, deliveryType, preOrderConfigLeadTimeMinutes, preOrderConfigIntervalMinutes, preOrderConfigMaxOrderAheadDays, preOrderConfigIncludeAsap, preOrderConfigIncludeMoreGranularInitialTime, preOrderConfigCutOffTimePreviousDayBasic, preOrderConfigCutOffTimeCurrentDayBasic, preOrderConfigPreOrderTimeDisplayType, preOrderConfigAlwaysAppearOpen, preOrderConfigRequireExplicitSelectAlways);
        return resp.getData();
    }

    /**
     * 
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param preOrderConfigLeadTimeMinutes Lead Time in Minutes (optional)
     * @param preOrderConfigIntervalMinutes Interval in minutes (optional)
     * @param preOrderConfigMaxOrderAheadDays Max Days to order ahead (optional)
     * @param preOrderConfigIncludeAsap Show ASAP as option (optional)
     * @param preOrderConfigIncludeMoreGranularInitialTime Granual Init&#39; Time (optional)
     * @param preOrderConfigCutOffTimePreviousDayBasic Cut off time previous day (optional)
     * @param preOrderConfigCutOffTimeCurrentDayBasic Cut off time current day (optional)
     * @param preOrderConfigPreOrderTimeDisplayType Type of time displayed. (optional)
     * @param preOrderConfigAlwaysAppearOpen Specifies whether a customer can pre-order outside the store opening hours or not. (optional)
     * @param preOrderConfigRequireExplicitSelectAlways Force customer to select collection time. (optional)
     * @return ApiResponse&lt;RestApiArrayResultPreOrderTime&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiArrayResultPreOrderTime> getPreOrderPreviewWithHttpInfo(Integer storeId, String deliveryType, Integer preOrderConfigLeadTimeMinutes, Integer preOrderConfigIntervalMinutes, Integer preOrderConfigMaxOrderAheadDays, Boolean preOrderConfigIncludeAsap, Boolean preOrderConfigIncludeMoreGranularInitialTime, String preOrderConfigCutOffTimePreviousDayBasic, String preOrderConfigCutOffTimeCurrentDayBasic, String preOrderConfigPreOrderTimeDisplayType, Boolean preOrderConfigAlwaysAppearOpen, Boolean preOrderConfigRequireExplicitSelectAlways) throws ApiException {
        com.squareup.okhttp.Call call = getPreOrderPreviewValidateBeforeCall(storeId, deliveryType, preOrderConfigLeadTimeMinutes, preOrderConfigIntervalMinutes, preOrderConfigMaxOrderAheadDays, preOrderConfigIncludeAsap, preOrderConfigIncludeMoreGranularInitialTime, preOrderConfigCutOffTimePreviousDayBasic, preOrderConfigCutOffTimeCurrentDayBasic, preOrderConfigPreOrderTimeDisplayType, preOrderConfigAlwaysAppearOpen, preOrderConfigRequireExplicitSelectAlways, null, null);
        Type localVarReturnType = new TypeToken<RestApiArrayResultPreOrderTime>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     *  (asynchronously)
     * 
     * @param storeId  (required)
     * @param deliveryType  (required)
     * @param preOrderConfigLeadTimeMinutes Lead Time in Minutes (optional)
     * @param preOrderConfigIntervalMinutes Interval in minutes (optional)
     * @param preOrderConfigMaxOrderAheadDays Max Days to order ahead (optional)
     * @param preOrderConfigIncludeAsap Show ASAP as option (optional)
     * @param preOrderConfigIncludeMoreGranularInitialTime Granual Init&#39; Time (optional)
     * @param preOrderConfigCutOffTimePreviousDayBasic Cut off time previous day (optional)
     * @param preOrderConfigCutOffTimeCurrentDayBasic Cut off time current day (optional)
     * @param preOrderConfigPreOrderTimeDisplayType Type of time displayed. (optional)
     * @param preOrderConfigAlwaysAppearOpen Specifies whether a customer can pre-order outside the store opening hours or not. (optional)
     * @param preOrderConfigRequireExplicitSelectAlways Force customer to select collection time. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPreOrderPreviewAsync(Integer storeId, String deliveryType, Integer preOrderConfigLeadTimeMinutes, Integer preOrderConfigIntervalMinutes, Integer preOrderConfigMaxOrderAheadDays, Boolean preOrderConfigIncludeAsap, Boolean preOrderConfigIncludeMoreGranularInitialTime, String preOrderConfigCutOffTimePreviousDayBasic, String preOrderConfigCutOffTimeCurrentDayBasic, String preOrderConfigPreOrderTimeDisplayType, Boolean preOrderConfigAlwaysAppearOpen, Boolean preOrderConfigRequireExplicitSelectAlways, final ApiCallback<RestApiArrayResultPreOrderTime> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPreOrderPreviewValidateBeforeCall(storeId, deliveryType, preOrderConfigLeadTimeMinutes, preOrderConfigIntervalMinutes, preOrderConfigMaxOrderAheadDays, preOrderConfigIncludeAsap, preOrderConfigIncludeMoreGranularInitialTime, preOrderConfigCutOffTimePreviousDayBasic, preOrderConfigCutOffTimeCurrentDayBasic, preOrderConfigPreOrderTimeDisplayType, preOrderConfigAlwaysAppearOpen, preOrderConfigRequireExplicitSelectAlways, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiArrayResultPreOrderTime>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getProcessingFeeConfigsByStoreId
     * @param storeId  (required)
     * @param appNameId  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getProcessingFeeConfigsByStoreIdCall(Integer storeId, String appNameId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/stores/{storeId}/processingfeeconfigs"
            .replaceAll("\\{" + "storeId" + "\\}", apiClient.escapeString(storeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (appNameId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("appNameId", appNameId));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
[...]
