/*
 * Flipdish Open API v1.0
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.flipdish.apiclient.api;

import com.flipdish.apiclient.ApiCallback;
import com.flipdish.apiclient.ApiClient;
import com.flipdish.apiclient.ApiException;
import com.flipdish.apiclient.ApiResponse;
import com.flipdish.apiclient.Configuration;
import com.flipdish.apiclient.Pair;
import com.flipdish.apiclient.ProgressRequestBody;
import com.flipdish.apiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.flipdish.apiclient.model.RestApiErrorResult;
import com.flipdish.apiclient.model.RestApiForbiddenResult;
import com.flipdish.apiclient.model.RestApiResultBankAccountDetail;
import com.flipdish.apiclient.model.RestApiUnauthorizedResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class StripeCustomConnectAdminApi {
    private ApiClient apiClient;

    public StripeCustomConnectAdminApi() {
        this(Configuration.getDefaultApiClient());
    }

    public StripeCustomConnectAdminApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for initializeBankAccountConnectedAccount
     * @param accounts Accounts to be initialized in stripe (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call initializeBankAccountConnectedAccountCall(List<Integer> accounts, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = accounts;

        // create path and map variables
        String localVarPath = "/api/v1.0/customconnect/initialize-bank-account";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call initializeBankAccountConnectedAccountValidateBeforeCall(List<Integer> accounts, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'accounts' is set
        if (accounts == null) {
            throw new ApiException("Missing the required parameter 'accounts' when calling initializeBankAccountConnectedAccount(Async)");
        }
        

        com.squareup.okhttp.Call call = initializeBankAccountConnectedAccountCall(accounts, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a new Bank Account and Stripe connected account
     * 
     * @param accounts Accounts to be initialized in stripe (required)
     * @return RestApiResultBankAccountDetail
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiResultBankAccountDetail initializeBankAccountConnectedAccount(List<Integer> accounts) throws ApiException {
        ApiResponse<RestApiResultBankAccountDetail> resp = initializeBankAccountConnectedAccountWithHttpInfo(accounts);
        return resp.getData();
    }

    /**
     * Create a new Bank Account and Stripe connected account
     * 
     * @param accounts Accounts to be initialized in stripe (required)
     * @return ApiResponse&lt;RestApiResultBankAccountDetail&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiResultBankAccountDetail> initializeBankAccountConnectedAccountWithHttpInfo(List<Integer> accounts) throws ApiException {
        com.squareup.okhttp.Call call = initializeBankAccountConnectedAccountValidateBeforeCall(accounts, null, null);
        Type localVarReturnType = new TypeToken<RestApiResultBankAccountDetail>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new Bank Account and Stripe connected account (asynchronously)
     * 
     * @param accounts Accounts to be initialized in stripe (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call initializeBankAccountConnectedAccountAsync(List<Integer> accounts, final ApiCallback<RestApiResultBankAccountDetail> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = initializeBankAccountConnectedAccountValidateBeforeCall(accounts, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiResultBankAccountDetail>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
