/*
 * Flipdish Open API v1.0
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: v1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.flipdish.apiclient.api;

import com.flipdish.apiclient.ApiCallback;
import com.flipdish.apiclient.ApiClient;
import com.flipdish.apiclient.ApiException;
import com.flipdish.apiclient.ApiResponse;
import com.flipdish.apiclient.Configuration;
import com.flipdish.apiclient.Pair;
import com.flipdish.apiclient.ProgressRequestBody;
import com.flipdish.apiclient.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.threeten.bp.OffsetDateTime;
import com.flipdish.apiclient.model.RestApiErrorResult;
import com.flipdish.apiclient.model.RestApiForbiddenResult;
import com.flipdish.apiclient.model.RestApiIntegerResult;
import com.flipdish.apiclient.model.RestApiPaginationResultWebhookLog;
import com.flipdish.apiclient.model.RestApiPaginationResultWebhookSubscription;
import com.flipdish.apiclient.model.RestApiStringArrayResult;
import com.flipdish.apiclient.model.RestApiUnauthorizedResult;
import com.flipdish.apiclient.model.WebhookEventSample;
import com.flipdish.apiclient.model.WebhookSubscription;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class WebhooksApi {
    private ApiClient apiClient;

    public WebhooksApi() {
        this(Configuration.getDefaultApiClient());
    }

    public WebhooksApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for craeteWebhookSubscription
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call craeteWebhookSubscriptionCall(String oauthAppId, WebhookSubscription webhookSubscription, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = webhookSubscription;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call craeteWebhookSubscriptionValidateBeforeCall(String oauthAppId, WebhookSubscription webhookSubscription, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling craeteWebhookSubscription(Async)");
        }
        
        // verify the required parameter 'webhookSubscription' is set
        if (webhookSubscription == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscription' when calling craeteWebhookSubscription(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling craeteWebhookSubscription(Async)");
        }
        

        com.squareup.okhttp.Call call = craeteWebhookSubscriptionCall(oauthAppId, webhookSubscription, appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Create a webhook subscription for you Oauth App
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @return RestApiIntegerResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiIntegerResult craeteWebhookSubscription(String oauthAppId, WebhookSubscription webhookSubscription, String appId) throws ApiException {
        ApiResponse<RestApiIntegerResult> resp = craeteWebhookSubscriptionWithHttpInfo(oauthAppId, webhookSubscription, appId);
        return resp.getData();
    }

    /**
     * Create a webhook subscription for you Oauth App
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @return ApiResponse&lt;RestApiIntegerResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiIntegerResult> craeteWebhookSubscriptionWithHttpInfo(String oauthAppId, WebhookSubscription webhookSubscription, String appId) throws ApiException {
        com.squareup.okhttp.Call call = craeteWebhookSubscriptionValidateBeforeCall(oauthAppId, webhookSubscription, appId, null, null);
        Type localVarReturnType = new TypeToken<RestApiIntegerResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a webhook subscription for you Oauth App (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call craeteWebhookSubscriptionAsync(String oauthAppId, WebhookSubscription webhookSubscription, String appId, final ApiCallback<RestApiIntegerResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = craeteWebhookSubscriptionValidateBeforeCall(oauthAppId, webhookSubscription, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiIntegerResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for createWebhookSubscriptionEventNames
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createWebhookSubscriptionEventNamesCall(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions/{webhookSubscriptionId}/events/{eventName}"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "webhookSubscriptionId" + "\\}", apiClient.escapeString(webhookSubscriptionId.toString()))
            .replaceAll("\\{" + "eventName" + "\\}", apiClient.escapeString(eventName.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createWebhookSubscriptionEventNamesValidateBeforeCall(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling createWebhookSubscriptionEventNames(Async)");
        }
        
        // verify the required parameter 'webhookSubscriptionId' is set
        if (webhookSubscriptionId == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscriptionId' when calling createWebhookSubscriptionEventNames(Async)");
        }
        
        // verify the required parameter 'eventName' is set
        if (eventName == null) {
            throw new ApiException("Missing the required parameter 'eventName' when calling createWebhookSubscriptionEventNames(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling createWebhookSubscriptionEventNames(Async)");
        }
        

        com.squareup.okhttp.Call call = createWebhookSubscriptionEventNamesCall(oauthAppId, webhookSubscriptionId, eventName, appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Add event name to your webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void createWebhookSubscriptionEventNames(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId) throws ApiException {
        createWebhookSubscriptionEventNamesWithHttpInfo(oauthAppId, webhookSubscriptionId, eventName, appId);
    }

    /**
     * Add event name to your webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> createWebhookSubscriptionEventNamesWithHttpInfo(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId) throws ApiException {
        com.squareup.okhttp.Call call = createWebhookSubscriptionEventNamesValidateBeforeCall(oauthAppId, webhookSubscriptionId, eventName, appId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Add event name to your webhook subscription (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createWebhookSubscriptionEventNamesAsync(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createWebhookSubscriptionEventNamesValidateBeforeCall(oauthAppId, webhookSubscriptionId, eventName, appId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteWebhookSubscription
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteWebhookSubscriptionCall(String oauthAppId, Integer webhookSubscriptionId, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions/{webhookSubscriptionId}"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "webhookSubscriptionId" + "\\}", apiClient.escapeString(webhookSubscriptionId.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteWebhookSubscriptionValidateBeforeCall(String oauthAppId, Integer webhookSubscriptionId, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling deleteWebhookSubscription(Async)");
        }
        
        // verify the required parameter 'webhookSubscriptionId' is set
        if (webhookSubscriptionId == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscriptionId' when calling deleteWebhookSubscription(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling deleteWebhookSubscription(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteWebhookSubscriptionCall(oauthAppId, webhookSubscriptionId, appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Delete you webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteWebhookSubscription(String oauthAppId, Integer webhookSubscriptionId, String appId) throws ApiException {
        deleteWebhookSubscriptionWithHttpInfo(oauthAppId, webhookSubscriptionId, appId);
    }

    /**
     * Delete you webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteWebhookSubscriptionWithHttpInfo(String oauthAppId, Integer webhookSubscriptionId, String appId) throws ApiException {
        com.squareup.okhttp.Call call = deleteWebhookSubscriptionValidateBeforeCall(oauthAppId, webhookSubscriptionId, appId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Delete you webhook subscription (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteWebhookSubscriptionAsync(String oauthAppId, Integer webhookSubscriptionId, String appId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteWebhookSubscriptionValidateBeforeCall(oauthAppId, webhookSubscriptionId, appId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for deleteWebhookSubscriptionEventName
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call deleteWebhookSubscriptionEventNameCall(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions/{webhookSubscriptionId}/events/{eventName}"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "webhookSubscriptionId" + "\\}", apiClient.escapeString(webhookSubscriptionId.toString()))
            .replaceAll("\\{" + "eventName" + "\\}", apiClient.escapeString(eventName.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call deleteWebhookSubscriptionEventNameValidateBeforeCall(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling deleteWebhookSubscriptionEventName(Async)");
        }
        
        // verify the required parameter 'webhookSubscriptionId' is set
        if (webhookSubscriptionId == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscriptionId' when calling deleteWebhookSubscriptionEventName(Async)");
        }
        
        // verify the required parameter 'eventName' is set
        if (eventName == null) {
            throw new ApiException("Missing the required parameter 'eventName' when calling deleteWebhookSubscriptionEventName(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling deleteWebhookSubscriptionEventName(Async)");
        }
        

        com.squareup.okhttp.Call call = deleteWebhookSubscriptionEventNameCall(oauthAppId, webhookSubscriptionId, eventName, appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Remove event name to your webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void deleteWebhookSubscriptionEventName(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId) throws ApiException {
        deleteWebhookSubscriptionEventNameWithHttpInfo(oauthAppId, webhookSubscriptionId, eventName, appId);
    }

    /**
     * Remove event name to your webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> deleteWebhookSubscriptionEventNameWithHttpInfo(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId) throws ApiException {
        com.squareup.okhttp.Call call = deleteWebhookSubscriptionEventNameValidateBeforeCall(oauthAppId, webhookSubscriptionId, eventName, appId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Remove event name to your webhook subscription (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param eventName Webhook subscription event name (required)
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call deleteWebhookSubscriptionEventNameAsync(String oauthAppId, Integer webhookSubscriptionId, String eventName, String appId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = deleteWebhookSubscriptionEventNameValidateBeforeCall(oauthAppId, webhookSubscriptionId, eventName, appId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
    /**
     * Build call for getWebhookEventNames
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebhookEventNamesCall(String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/events"
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebhookEventNamesValidateBeforeCall(String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getWebhookEventNames(Async)");
        }
        

        com.squareup.okhttp.Call call = getWebhookEventNamesCall(appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all webhook subscription event names
     * 
     * @param appId  (required)
     * @return RestApiStringArrayResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiStringArrayResult getWebhookEventNames(String appId) throws ApiException {
        ApiResponse<RestApiStringArrayResult> resp = getWebhookEventNamesWithHttpInfo(appId);
        return resp.getData();
    }

    /**
     * Get all webhook subscription event names
     * 
     * @param appId  (required)
     * @return ApiResponse&lt;RestApiStringArrayResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiStringArrayResult> getWebhookEventNamesWithHttpInfo(String appId) throws ApiException {
        com.squareup.okhttp.Call call = getWebhookEventNamesValidateBeforeCall(appId, null, null);
        Type localVarReturnType = new TypeToken<RestApiStringArrayResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all webhook subscription event names (asynchronously)
     * 
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebhookEventNamesAsync(String appId, final ApiCallback<RestApiStringArrayResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebhookEventNamesValidateBeforeCall(appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiStringArrayResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebhookEventNamesBySubscriptionId
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebhookEventNamesBySubscriptionIdCall(String oauthAppId, Integer webhookSubscriptionId, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions/{webhookSubscriptionId}/events"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "webhookSubscriptionId" + "\\}", apiClient.escapeString(webhookSubscriptionId.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebhookEventNamesBySubscriptionIdValidateBeforeCall(String oauthAppId, Integer webhookSubscriptionId, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling getWebhookEventNamesBySubscriptionId(Async)");
        }
        
        // verify the required parameter 'webhookSubscriptionId' is set
        if (webhookSubscriptionId == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscriptionId' when calling getWebhookEventNamesBySubscriptionId(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getWebhookEventNamesBySubscriptionId(Async)");
        }
        

        com.squareup.okhttp.Call call = getWebhookEventNamesBySubscriptionIdCall(oauthAppId, webhookSubscriptionId, appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get your webhook subscriptions selected event names
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @return RestApiStringArrayResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiStringArrayResult getWebhookEventNamesBySubscriptionId(String oauthAppId, Integer webhookSubscriptionId, String appId) throws ApiException {
        ApiResponse<RestApiStringArrayResult> resp = getWebhookEventNamesBySubscriptionIdWithHttpInfo(oauthAppId, webhookSubscriptionId, appId);
        return resp.getData();
    }

    /**
     * Get your webhook subscriptions selected event names
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @return ApiResponse&lt;RestApiStringArrayResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiStringArrayResult> getWebhookEventNamesBySubscriptionIdWithHttpInfo(String oauthAppId, Integer webhookSubscriptionId, String appId) throws ApiException {
        com.squareup.okhttp.Call call = getWebhookEventNamesBySubscriptionIdValidateBeforeCall(oauthAppId, webhookSubscriptionId, appId, null, null);
        Type localVarReturnType = new TypeToken<RestApiStringArrayResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get your webhook subscriptions selected event names (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebhookEventNamesBySubscriptionIdAsync(String oauthAppId, Integer webhookSubscriptionId, String appId, final ApiCallback<RestApiStringArrayResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebhookEventNamesBySubscriptionIdValidateBeforeCall(oauthAppId, webhookSubscriptionId, appId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiStringArrayResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebhookEventSample
     * @param eventName  (required)
     * @param appId  (required)
     * @param oauthAppId  (required)
     * @param webhookSubscriptionId  (required)
     * @param version  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebhookEventSampleCall(String eventName, String appId, String oauthAppId, String webhookSubscriptionId, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions/{webhookSubscriptionId}/events/{eventName}/test"
            .replaceAll("\\{" + "eventName" + "\\}", apiClient.escapeString(eventName.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()))
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "webhookSubscriptionId" + "\\}", apiClient.escapeString(webhookSubscriptionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (version != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("version", version));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebhookEventSampleValidateBeforeCall(String eventName, String appId, String oauthAppId, String webhookSubscriptionId, String version, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'eventName' is set
        if (eventName == null) {
            throw new ApiException("Missing the required parameter 'eventName' when calling getWebhookEventSample(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getWebhookEventSample(Async)");
        }
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling getWebhookEventSample(Async)");
        }
        
        // verify the required parameter 'webhookSubscriptionId' is set
        if (webhookSubscriptionId == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscriptionId' when calling getWebhookEventSample(Async)");
        }
        

        com.squareup.okhttp.Call call = getWebhookEventSampleCall(eventName, appId, oauthAppId, webhookSubscriptionId, version, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a sample event from a webhook subscription
     * 
     * @param eventName  (required)
     * @param appId  (required)
     * @param oauthAppId  (required)
     * @param webhookSubscriptionId  (required)
     * @param version  (optional)
     * @return WebhookEventSample
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public WebhookEventSample getWebhookEventSample(String eventName, String appId, String oauthAppId, String webhookSubscriptionId, String version) throws ApiException {
        ApiResponse<WebhookEventSample> resp = getWebhookEventSampleWithHttpInfo(eventName, appId, oauthAppId, webhookSubscriptionId, version);
        return resp.getData();
    }

    /**
     * Get a sample event from a webhook subscription
     * 
     * @param eventName  (required)
     * @param appId  (required)
     * @param oauthAppId  (required)
     * @param webhookSubscriptionId  (required)
     * @param version  (optional)
     * @return ApiResponse&lt;WebhookEventSample&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<WebhookEventSample> getWebhookEventSampleWithHttpInfo(String eventName, String appId, String oauthAppId, String webhookSubscriptionId, String version) throws ApiException {
        com.squareup.okhttp.Call call = getWebhookEventSampleValidateBeforeCall(eventName, appId, oauthAppId, webhookSubscriptionId, version, null, null);
        Type localVarReturnType = new TypeToken<WebhookEventSample>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a sample event from a webhook subscription (asynchronously)
     * 
     * @param eventName  (required)
     * @param appId  (required)
     * @param oauthAppId  (required)
     * @param webhookSubscriptionId  (required)
     * @param version  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebhookEventSampleAsync(String eventName, String appId, String oauthAppId, String webhookSubscriptionId, String version, final ApiCallback<WebhookEventSample> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebhookEventSampleValidateBeforeCall(eventName, appId, oauthAppId, webhookSubscriptionId, version, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<WebhookEventSample>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebhookLogs
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param start Start time (required)
     * @param end End time (required)
     * @param appId  (required)
     * @param page Page number (optional)
     * @param limit Page size (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebhookLogsCall(String oauthAppId, Integer webhookSubscriptionId, OffsetDateTime start, OffsetDateTime end, String appId, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions/{webhookSubscriptionId}/logs"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "webhookSubscriptionId" + "\\}", apiClient.escapeString(webhookSubscriptionId.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (start != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("start", start));
        if (end != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("end", end));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebhookLogsValidateBeforeCall(String oauthAppId, Integer webhookSubscriptionId, OffsetDateTime start, OffsetDateTime end, String appId, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling getWebhookLogs(Async)");
        }
        
        // verify the required parameter 'webhookSubscriptionId' is set
        if (webhookSubscriptionId == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscriptionId' when calling getWebhookLogs(Async)");
        }
        
        // verify the required parameter 'start' is set
        if (start == null) {
            throw new ApiException("Missing the required parameter 'start' when calling getWebhookLogs(Async)");
        }
        
        // verify the required parameter 'end' is set
        if (end == null) {
            throw new ApiException("Missing the required parameter 'end' when calling getWebhookLogs(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getWebhookLogs(Async)");
        }
        

        com.squareup.okhttp.Call call = getWebhookLogsCall(oauthAppId, webhookSubscriptionId, start, end, appId, page, limit, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get logs for your webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param start Start time (required)
     * @param end End time (required)
     * @param appId  (required)
     * @param page Page number (optional)
     * @param limit Page size (optional)
     * @return RestApiPaginationResultWebhookLog
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultWebhookLog getWebhookLogs(String oauthAppId, Integer webhookSubscriptionId, OffsetDateTime start, OffsetDateTime end, String appId, Integer page, Integer limit) throws ApiException {
        ApiResponse<RestApiPaginationResultWebhookLog> resp = getWebhookLogsWithHttpInfo(oauthAppId, webhookSubscriptionId, start, end, appId, page, limit);
        return resp.getData();
    }

    /**
     * Get logs for your webhook subscription
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param start Start time (required)
     * @param end End time (required)
     * @param appId  (required)
     * @param page Page number (optional)
     * @param limit Page size (optional)
     * @return ApiResponse&lt;RestApiPaginationResultWebhookLog&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultWebhookLog> getWebhookLogsWithHttpInfo(String oauthAppId, Integer webhookSubscriptionId, OffsetDateTime start, OffsetDateTime end, String appId, Integer page, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = getWebhookLogsValidateBeforeCall(oauthAppId, webhookSubscriptionId, start, end, appId, page, limit, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultWebhookLog>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get logs for your webhook subscription (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param start Start time (required)
     * @param end End time (required)
     * @param appId  (required)
     * @param page Page number (optional)
     * @param limit Page size (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebhookLogsAsync(String oauthAppId, Integer webhookSubscriptionId, OffsetDateTime start, OffsetDateTime end, String appId, Integer page, Integer limit, final ApiCallback<RestApiPaginationResultWebhookLog> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebhookLogsValidateBeforeCall(oauthAppId, webhookSubscriptionId, start, end, appId, page, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultWebhookLog>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getWebhookSubscriptions
     * @param oauthAppId Oauth App identifier (required)
     * @param appId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getWebhookSubscriptionsCall(String oauthAppId, String appId, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getWebhookSubscriptionsValidateBeforeCall(String oauthAppId, String appId, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling getWebhookSubscriptions(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling getWebhookSubscriptions(Async)");
        }
        

        com.squareup.okhttp.Call call = getWebhookSubscriptionsCall(oauthAppId, appId, page, limit, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get all webhook subscriptions by your Oauth App id
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param appId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @return RestApiPaginationResultWebhookSubscription
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public RestApiPaginationResultWebhookSubscription getWebhookSubscriptions(String oauthAppId, String appId, Integer page, Integer limit) throws ApiException {
        ApiResponse<RestApiPaginationResultWebhookSubscription> resp = getWebhookSubscriptionsWithHttpInfo(oauthAppId, appId, page, limit);
        return resp.getData();
    }

    /**
     * Get all webhook subscriptions by your Oauth App id
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param appId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @return ApiResponse&lt;RestApiPaginationResultWebhookSubscription&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<RestApiPaginationResultWebhookSubscription> getWebhookSubscriptionsWithHttpInfo(String oauthAppId, String appId, Integer page, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = getWebhookSubscriptionsValidateBeforeCall(oauthAppId, appId, page, limit, null, null);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultWebhookSubscription>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all webhook subscriptions by your Oauth App id (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param appId  (required)
     * @param page  (optional)
     * @param limit  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getWebhookSubscriptionsAsync(String oauthAppId, String appId, Integer page, Integer limit, final ApiCallback<RestApiPaginationResultWebhookSubscription> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getWebhookSubscriptionsValidateBeforeCall(oauthAppId, appId, page, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<RestApiPaginationResultWebhookSubscription>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateWebhookSubscription
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateWebhookSubscriptionCall(String oauthAppId, Integer webhookSubscriptionId, WebhookSubscription webhookSubscription, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = webhookSubscription;

        // create path and map variables
        String localVarPath = "/api/v1.0/{appId}/webhooks/{oauthAppId}/subscriptions/{webhookSubscriptionId}"
            .replaceAll("\\{" + "oauthAppId" + "\\}", apiClient.escapeString(oauthAppId.toString()))
            .replaceAll("\\{" + "webhookSubscriptionId" + "\\}", apiClient.escapeString(webhookSubscriptionId.toString()))
            .replaceAll("\\{" + "appId" + "\\}", apiClient.escapeString(appId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "application/xml", "text/xml"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json", "text/json", "application/xml", "text/xml", "application/x-www-form-urlencoded"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "oauth2" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateWebhookSubscriptionValidateBeforeCall(String oauthAppId, Integer webhookSubscriptionId, WebhookSubscription webhookSubscription, String appId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'oauthAppId' is set
        if (oauthAppId == null) {
            throw new ApiException("Missing the required parameter 'oauthAppId' when calling updateWebhookSubscription(Async)");
        }
        
        // verify the required parameter 'webhookSubscriptionId' is set
        if (webhookSubscriptionId == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscriptionId' when calling updateWebhookSubscription(Async)");
        }
        
        // verify the required parameter 'webhookSubscription' is set
        if (webhookSubscription == null) {
            throw new ApiException("Missing the required parameter 'webhookSubscription' when calling updateWebhookSubscription(Async)");
        }
        
        // verify the required parameter 'appId' is set
        if (appId == null) {
            throw new ApiException("Missing the required parameter 'appId' when calling updateWebhookSubscription(Async)");
        }
        

        com.squareup.okhttp.Call call = updateWebhookSubscriptionCall(oauthAppId, webhookSubscriptionId, webhookSubscription, appId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Update a webhook subscription object
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void updateWebhookSubscription(String oauthAppId, Integer webhookSubscriptionId, WebhookSubscription webhookSubscription, String appId) throws ApiException {
        updateWebhookSubscriptionWithHttpInfo(oauthAppId, webhookSubscriptionId, webhookSubscription, appId);
    }

    /**
     * Update a webhook subscription object
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> updateWebhookSubscriptionWithHttpInfo(String oauthAppId, Integer webhookSubscriptionId, WebhookSubscription webhookSubscription, String appId) throws ApiException {
        com.squareup.okhttp.Call call = updateWebhookSubscriptionValidateBeforeCall(oauthAppId, webhookSubscriptionId, webhookSubscription, appId, null, null);
        return apiClient.execute(call);
    }

    /**
     * Update a webhook subscription object (asynchronously)
     * 
     * @param oauthAppId Oauth App identifier (required)
     * @param webhookSubscriptionId Webhook subscription identifier (required)
     * @param webhookSubscription Webhook subscription object (required)
     * @param appId  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateWebhookSubscriptionAsync(String oauthAppId, Integer webhookSubscriptionId, WebhookSubscription webhookSubscription, String appId, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateWebhookSubscriptionValidateBeforeCall(oauthAppId, webhookSubscriptionId, webhookSubscription, appId, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
